:root {
  --padding: 1em;
  --gap: 4em;
  --font-size: clamp(1rem, 1.25vw, 2.5rem);
  --letter-spacing: 0.3em;
}

/* dark-theme colors */
:root {
  --bg-color: midnightblue;
  --text: var(--white);
  --text-contrast: var(--black);
  --theme: lightsteelblue;
  --contrast: rebeccapurple;
  --medium: indigo;
  --accent: coral;
  --white: white;
  --black: rgba(46, 49, 49, 1);
  --shadow: unset;
  --shadow-deep: unset;
}


/* light-theme colors */
:root {
  --bg-color: var(--white);
  --text: var(--black);
  --text-contrast: var(--white);
  --theme: var(--white);
  --medium: azure;
  --contrast: whitesmoke;
  --accent: deeppink;
  --white: white;
  --black: rgba(46, 49, 49, 1);
  --shadow: 0 0.25vw 1vw  0 rgba(0,0,0,0.2);
  --shadow-deep: 0 0.5vw 2vw  0 rgba(0,0,0,0.2);
}


html {
  background-color: var(--bg-color);
}


body {
  height: 100%;
  margin:0;
  color: var(--text);
  font-family: system-ui, sans-serif;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
} 


p {
  line-height: 1.5;
  max-width: 60em;
}

hr {
  margin-block-end: calc(var(--padding)*3);
  border:unset;
}


img,
  picture {
	max-width: 100%;
	display: block;
  }

input {
  font: inherit;
}

.logo {
  margin-inline-end: auto;
}
.wrapper {
  min-height: 100vh;
}

footer .wrapper {
  min-height: initial;
}

.container {
  flex-direction: column;
  width: 80vw; 
  min-width: 320px;
  padding: var(--padding) 0;
}

.flex {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

.two > *, .three > *{
  flex-grow: 1;
  flex-basis: calc(( 16em - 35%) * 999);
}

.two > :nth-last-child(n+ 3),
.two > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}



.two img {
  min-width: 240px;
  max-width: 100%;
}

.gap-min {
  gap: 1em;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.center {
  text-align: center;
}

.centered {
  margin-inline-start: auto;
  margin-inline-end: auto;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

section, .section  {
  margin-block-end: calc(var(--padding)*6);
}

.bg-medium {
  background-color: var(--medium);
}

.bg-medium article {
  padding: var(--padding);
}

.button {
  border-radius: var(--padding);
  border: 0.1em  solid var(--text);
  padding: calc(var(--padding)/2);
  text-align: center;
  max-width: 20em;
  margin: 0 auto;
}

.button:hover {
  border: 0.1em  solid var(--accent);
  color: var(--accent);
}

.header-button, .footer-button {
  margin: 0;
}

.cta {
  background-color: var(--accent);
  border: 0.1em  solid var(--accent);
}

.cta:hover {
  background-color: var(--text);
}

.cta a, .cta a:visited {
  color: var(--text-contrast);
}

.radius {
  border-radius: var(--padding);
  overflow: hidden;
}

.cards {
  justify-content: space-around;
}

.cards > * {
  flex-grow: initial;
}

.card-image {
  height: 3em;
}

.card-image img {
  height: 100%;
  min-width: initial;
  margin-block-end: var(--padding);
}

b {
  font-size: 3em;
}

a {
  text-decoration:none;
}

a:visited {
  color: inherit;
}

.footer {
  background-color: var(--contrast);
  align-items: start;
}

.footer-left .logo, h3 {
  margin: var(--padding) 0;
}
